.home {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.sky {
  display: grid;
  grid-column: 1/11;
  grid-row: 1/10;
  background-image: linear-gradient(
    to bottom,
    #283d89,
    #274a97,
    #2557a4,
    #2364b1,
    #2171be,
    #1382cb,
    #0292d8,
    #00a3e3,
    #00baed,
    #00d1f2,
    #26e6f3,
    #5ffbf1
  );
}

.ground {
  background: black;
  display: grid;
  grid-column: 1/12;
  grid-row: 10/12;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.box.one {
  grid-row: 1/3;
  grid-column: 1/17;
  background: url("./Components/Background/grassTopLayer.png");
  background-size: contain;
}
.box.two {
  grid-row: 3/6;
  grid-column: 1/17;
  background: url("./Components/Background/grassBottomLayer.png");
  background-size: contain;
}

.tree {
  display: grid;
  grid-row: 7/10;
  /* grid-column: 2/ 3; */
  background: url("./Components/Background/palmTree.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.treeReversed {
  display: grid;
  grid-row: 7/10;
  background: url("./Components/Background/palmTreeFlip.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cloud {
  display: grid;
  grid-row: 1/3;
  background: url("./Components/Background/cloud.png");
  background-size: cover;
  background-position: center;
}
.character {
  display: grid;
  grid-row: 8/10;
  background-position: center;
  background-size: contain;
  z-index: 15;
}
